In [1]:
import pandas as pd
train=pd.read_csv('./201901-202003.csv')

In [2]:
train

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [10]:
jeju=train[train['CARD_SIDO_NM'].isin(['제주'])]
jeju

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
1454855,201901,제주,서귀포시,건강보조식품 소매업,부산,사하구,50s,2,4,4,1900000,4
1454856,201901,제주,서귀포시,건강보조식품 소매업,인천,서구,50s,2,4,3,1300000,2
1454857,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,1,2,3,438000,3
1454858,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,2,2,4,552200,3
1454859,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,40s,1,2,3,908000,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24597421,202003,제주,제주시,휴양콘도 운영업,서울,노원구,50s,1,4,3,79500,3
24597422,202003,제주,제주시,휴양콘도 운영업,제주,제주시,30s,1,2,4,1656000,5
24597423,202003,제주,제주시,휴양콘도 운영업,제주,제주시,40s,1,3,3,304560,3
24597424,202003,제주,제주시,휴양콘도 운영업,제주,제주시,50s,2,4,4,60000,4
24597425,202003,제주,제주시,휴양콘도 운영업,제주,제주시,70s,2,5,3,657800,6

In [11]:
import sqlite3

In [14]:
conn=sqlite3.connect('jeju_con.db')

In [15]:
jeju.to_sql('jeju_table',conn,if_exists='replace')

NameError: name 'commit' is not defined